.stockAdditionItemItemForm {
  display: flex;
  align-items: center;
  width: 600px;
  height: 50px;
  gap: 20px;
  border: black solid 1px;
}

.stockAdditionItemInput {
  height: 30px;
  margin: 5px;
  font-size: 18px;
}

.stockAdditionItemButton {
  width: 70px;
  height: 30px;
}

.hidden {
  display: none;
}
