html {
  background-image: url('./background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 98vw;
  /* height: 90vh; */

  /* height: 100vh; */
  font-family: 'Jura', sans-serif;
}
