.tableItem {
  display: flex;
  /* justify-content: flex-end; */
  /* gap: 30px; */
}

.tableItemTD {
  /* text-align: center; */
  display: flex;
  /* align-items: right; */
  margin: 5px 82px;

  /* text-align: left; */
}
