.diverseContainer {
  display: flex;
  border: black 1px solid;
  align-items: center;
  /* margin: auto; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
  background-color: #fe605555;
  border: none;
}

.diverseUl {
  list-style-type: none;
  margin: auto;
  color: #1b263b;
  font-weight: 550;
}
